<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<footer th:fragment="footer">
    <div id="Footer">

        <div id="PoweredBy">&nbsp<a href="http://www.csu.deu.cn">www.csu.deu.cn</a>
        </div>
        <div id="Banner"></div>
    </div>
</footer>
<script src="js/productAuto.js"></script>
<script src="js/isUserNameExist.js"></script>
<script src="js/cartAutoUpdate.js"></script>
<script src="js/removeConfirm.js"></script>
<!-- 在模板中添加提示框 -->
<script th:if="${param.message eq 'duplicateLaunch'}">
    alert('该商品已经上架，不可重复上架！');
</script>

</body>
</html>