<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<header th:fragment="header">
    <div id="Header">

        <div id="Logo">
            <div id="LogoContent">
                <a href="/catalog/index"> <img src="../images/logo-topbar.gif" /></a>
            </div>
        </div>
    </div>
    <div id="Menu">

    </div>
    <div id="Search">

    </div>
    <div id="QuickLinks">
        <a href="/houTai/userManage">User Manage</a>
        <img src="../images/separator.gif" />
        <a href="/houTai/categoryManage">Category Manage</a>
        <img src="../images/separator.gif" />
        <a href="/houTai/orderManage">Order Manage</a>
    </div>
</header>
</body>
</html>