<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/adminTop"></header>
<div id="Content">
    <h2>Category Manage</h2>
    <table border="1">
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Category Picture</th>
            <th>Modify</th>
        </tr>
        <tr >
            <td >BIRDS</td>
            <td >Birds</td>
            <td ><img src="../images/birds_icon.gif"></td>
            <td>
                <a th:href="@{/houTai/categoryEdit(categoryId=${category.categoryId})}">Edit</a>
                <a th:href="@{/houTai/categoryDelete(categoryId=${category.categoryId})}">Delete</a>
                <a th:href="@{/houTai/ProductManage(categoryId=${category.categoryId})}">Products</a>
            </td>
        </tr>
        <tr >
            <td >FISH</td>
            <td >Fish</td>
            <td ><img src="../images/fish_icon.gif"></td>
            <td>
                <a th:href="@{/houTai/categoryEdit(categoryId=${category.categoryId})}">Edit</a>
                <a th:href="@{/houTai/categoryDelete(categoryId=${category.categoryId})}">Delete</a>
                <a th:href="@{/houTai/ProductManage(categoryId=${category.categoryId})}">Products</a>
            </td>
        </tr>
        <tr >
            <td >DOGS</td>
            <td >Dogs</td>
            <td ><img src="../images/dogs_icon.gif"></td>
            <td>
                <a th:href="@{/houTai/categoryEdit(categoryId=${category.categoryId})}">Edit</a>
                <a th:href="@{/houTai/categoryDelete(categoryId=${category.categoryId})}">Delete</a>
                <a th:href="@{/houTai/ProductManage(categoryId=${category.categoryId})}">Products</a>
            </td>
        </tr>
        <tr >
            <td >CATS</td>
            <td >Cats</td>
            <td ><img src="../images/cats_icon.gif"></td>
            <td>
                <a th:href="@{/houTai/categoryEdit(categoryId=${category.categoryId})}">Edit</a>
                <a th:href="@{/houTai/categoryDelete(categoryId=${category.categoryId})}">Delete</a>
                <a th:href="@{/houTai/ProductManage(categoryId=${category.categoryId})}">Products</a>
            </td>
        </tr>
        <tr >
            <td >REPTILES</td>
            <td >Reptiles</td>
            <td ><img src="../images/reptiles_icon.gif"></td>
            <td>
                <a th:href="@{/houTai/categoryEdit(categoryId=${category.categoryId})}">Edit</a>
                <a th:href="@{/houTai/categoryDelete(categoryId=${category.categoryId})}">Delete</a>
                <a th:href="@{/houTai/ProductManage(categoryId=${category.categoryId})}">Products</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/houTai/categoryNew}">New Category</a>
</div>
<footer th:replace="common/adminBottom"></footer>
</body>
</html>