<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/adminTop"></header>
<div id="Content">
    <h2>Category Manage</h2>
    <table border="1">
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Modify</th>
        </tr>
        <tr >
            <td >BIRDS</td>
            <td >Birds</td>
            <td>
                <a th:href="@{/houTai/categoryEditForm(categoryId=BIRDS)}">Edit</a>
                <a th:href="@{/houTai/categoryDeleteForm(categoryId=BIRDS)}">Delete</a>
                <a th:href="@{/houTai/productManage(categoryId=BIRDS)}">Products</a>
            </td>
        </tr>
        <tr >
            <td >FISH</td>
            <td >Fish</td>
            <td>
                <a th:href="@{/houTai/categoryEditForm(categoryId=FISH)}">Edit</a>
                <a th:href="@{/houTai/categoryDeleteForm(categoryId=FISH)}">Delete</a>
                <a th:href="@{/houTai/productManage(categoryId=FISH)}">Products</a>
            </td>
        </tr>
        <tr >
            <td >DOGS</td>
            <td >Dogs</td>
            <td>
                <a th:href="@{/houTai/categoryEditForm(categoryId=DOGS)}">Edit</a>
                <a th:href="@{/houTai/categoryDeleteForm(categoryId=DOGS)}">Delete</a>
                <a th:href="@{/houTai/productManage(categoryId=DOGS)}">Products</a>
            </td>
        </tr>
        <tr >
            <td >CATS</td>
            <td >Cats</td>
            <td>
                <a th:href="@{/houTai/categoryEditForm(categoryId=CATS)}">Edit</a>
                <a th:href="@{/houTai/categoryDeleteForm(categoryId=CATS)}">Delete</a>
                <a th:href="@{/houTai/productManage(categoryId=CATS)}">Products</a>
            </td>
        </tr>
        <tr >
            <td >REPTILES</td>
            <td >Reptiles</td>
            <td>
                <a th:href="@{/houTai/categoryEditForm(categoryId=REPTILES)}">Edit</a>
                <a th:href="@{/houTai/categoryDeleteForm(categoryId=REPTILES)}">Delete</a>
                <a th:href="@{/houTai/productManage(categoryId=REPTILES)}">Products</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/houTai/categoryNewForm}">New Category</a>
</div>
<footer th:replace="common/adminBottom"></footer>
</body>
</html>