<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item Manage</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<header th:replace="common/adminTop"></header>
<div id="Content">
    <h2>Create Category</h2>
    <form action="/houTai/categoryCreate" method="post" id="categoryForm">
        <table>
            <tr>
                <td>Category ID:</td>
                <td><input type="text" name="categoryId" id="categoryId"/></td>
                <td><span id="categoryIdError" style="color: red;"></span></td>
            </tr>
            <tr>
                <td>Category Name:</td>
                <input type="text" name="categoryName" value=""/>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text" name="description" value=""/></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Create Category" id="createCategoryBtn"/>
                </td>
                <td><input type="button" value="Cancel" onclick="history.back()"/></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="common/adminBottom"></footer>

<script>
   document.getElementById('categoryId').addEventListener('blur', function () {
        let categoryId = this.value;
        if(categoryId.length === 0){
            document.getElementById('categoryIdError').innerText = 'Category ID cannot be empty';
            document.getElementById('createCategoryBtn').disabled = true;
            return;
        }
        console.log('categoryId:', categoryId); // 输出 categoryId 的值到控制台
        axios.get('/houTai/checkCategory?id=' + categoryId)
            .then(function (response) {
                if (response.data.exists) {
                    document.getElementById('categoryIdError').innerText = 'Category ID already exists';
                    document.getElementById('createCategoryBtn').disabled = true;
                } else {
                    document.getElementById('categoryIdError').innerText = '';
                    document.getElementById('createCategoryBtn').disabled = false;
                }
            })
            .catch(function (error) {
                console.error('Error checking category ID:', error);
            });
    });
</script>
</body>
</html>
