<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/adminTop"></header>
<div id="Content">
    <h2>Edit Category</h2>
    <form action="houTai/categoryEdit" method="post">
        <table>
            <tr>
                <td>Category ID:</td>
                <td><input type="text" name="categoryId" th:value="${category.categoryId}"/></td>
            </tr>
            <tr>
                <td>Category Name:</td>
                <td><input type="text" name="name" th:value="${category.categoryName}"/></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Update Category"/>
                </td>
            </tr>
        </table>
    </form>
    <a href="categoryList">Return to Category List</a>
</div>
<footer th:replace="common/adminBottom"></footer>
</body>
</html>