<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item Manage</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/adminTop"></header>
<div id="Content">
<div id="BackLink">
    <a href="/catalog/index">Return to Main Menu</a>
</div>
<div id="Catalog">
    <h2>Item Manage</h2>

    <table>
        <tr>
            <th>Item ID</th>
            <th>Product ID</th>
            <th>ListPrice</th>
            <th>UnitCost</th>
            <th>Status</th>
            <th>SupplierId</th>
            <th>Inventory</th>
            <th>Modify</th>
        </tr>
        <tr th:each="item:${product.itemList}">
            <td th:text="${item.itemId}">1</td>
            <td th:text="${item.productId}">Fish</td>
            <td th:text="${item.listPrice}">Fish</td>
            <td th:text="${item.unitCost}">Fish</td>
            <td th:text="${item.status}">Fish</td>
            <td th:text="${item.supplierId}">Fish</td>
            <td th:text="${item.inventory}">Fish</td>
            <td>
                <a th:href="@{/houTai/itemEditForm(itemId=${item.itemId})}">Edit</a>
                <a th:href="@{/houTai/itemDeleteForm(itemId=${item.itemId})}">Delete</a>
                <a th:href="@{/houTai/itemLaunch(itemId=${item.itemId})}">Launch</a>
                <a th:href="@{/houTai/itemDelist(itemId=${item.itemId})}">Delist</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/houTai/itemNewForm}">New Item</a>
</div>
</div>
<footer th:replace="common/adminBottom"></footer>
</body>
</html>