<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item Delete</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/adminTop"></header>
<div id="Content">
    <h2>Item Delete</h2>
    <form action="/houTai/itemDelete" method="post">
        <table>
            <tr>
                <td>Item ID:</td>
                <td><input type="text" name="itemId" th:value="${item.itemId}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Product ID:</td>
                <td><input type="text" name="productId" th:value="${item.productId}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Product Name:</td>
                <td><input type="text" name="productName" th:value="${item.productName}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Supplier ID:</td>
                <td><input type="text" name="supplierId" th:value="${item.supplierId}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>List Price:</td>
                <td><input type="text" name="listPrice" th:value="${item.listPrice}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Unit Cost:</td>
                <td><input type="text" name="unitCost" th:value="${item.unitCost}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Supplier:</td>
                <td><input type="text" name="supplier" th:value="${item.supplierId}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Delete"/></td>
                <td><input type="button" value="Cancel" onclick="window.location.href='/houTai/itemManage'"/></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="common/adminBottom"></footer>
</body>
</html>