<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/adminTop"></header>
<div id="Content">
    <h2>Item Edit</h2>
    <form action="/houTai/itemEdit" method="post">
        <table>
            <tr>
                <td>Item ID:</td>
                <td><input type="text" name="itemId" th:value="${item.itemId}" /></td>
            </tr>
            <tr>
                <td>Product ID:</td>
                <td><input type="text" name="productId" th:value="${item.productId}" /></td>
            </tr>
            <tr>
                <td>List Price:</td>
                <td><input type="text" name="listPrice" th:value="${item.listPrice}"/></td>
            </tr>
            <tr>
                <td>Unit Cost:</td>
                <td><input type="text" name="unitCost" th:value="${item.unitCost}"/></td>
            </tr>
            <tr>
                <td>Supplier:</td>
                <td><input type="text" name="supplier" th:value="${item.supplierId}"/></td>
            </tr>
            <tr>
                <td>Status:</td>
                <td><input type="text" name="status" th:value="${item.status}"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Edit"/></td>
                <td><input type="button" value="Cancel" onclick="window.location.href='itemList'"/></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="common/adminBottom"></footer>
</body>
</html>