<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item Delete</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/adminTop"></header>
<div id="Content">
    <h2>Item Delete</h2>
    <form action="itemDelete" method="post">
        <table>
            <tr>
                <td>Item ID:</td>
                <td><input type="text" name="itemId" th:value="${item.itemId}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Product ID:</td>
                <td><input type="text" name="productId" th:value="${item.productId}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Product Name:</td>
                <td><input type="text" name="productName" th:value="${item.productName}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Supplier ID:</td>
                <td><input type="text" name="supplierId" th:value="${item.supplierId}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Category ID:</td>
                <td><input type="text" name="categoryId" th:value="${item.categoryId}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Item Name:</td>
                <td><input type="text" name="itemName" th:value="${item.itemName}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>List Price:</td>
                <td><input type="text" name="listPrice" th:value="${item.listPrice}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Unit Cost:</td>
                <td><input type="text" name="unitCost" th:value="${item.unitCost}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Supplier:</td>
                <td><input type="text" name="supplier" th:value="${item.supplier}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Attribute1:</td>
                <td><input type="text" name="attribute1" th:value="${item.attribute1}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Attribute2:</td>
                <td><input type="text" name="attribute2" th:value="${item.attribute2}" readonly="readonly"/></td>
</div>
<footer th:replace="common/adminBottom"></footer>
</body>
</html>