<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/adminTop"></header>
<div id="Content">
    <div id="Catalog">
        <form action="/houTai/login" name="login_form" method="post">
            <p>Please enter your username and password.</p>
                <p th:if="${session.signOnMsg != null}"> <font color="red">${session.signOnMsg} </font> </p>
            <p>
                Username:<input type="text" name="username"> <br />
                Password:<input type="password" name="password">
            </p>
            <span class="require"></span>validation code:
            <input type="text" id="validation_code" name="validation_code" /><!--验证码输入框-->
            <img src="validation_code" id="img_validation_code"
                 onclick="refresh()" /><!--图形验证码--><br />
            <input type="button" value="login" onclick="checkRegister()" />
        </form>
        Need a username and password?
        <a href="/houTai/registerForm">Register Now!</a>

    </div>
    <script type="text/javascript">
        function refresh() {
            var img = document.getElementById("img_validation_code");
            img.src = "validation_code?" + Math.random();
        }
        //实现验证码的刷新
        function checkRegister() {
            var validation_code = document.getElementById("validation_code");
            if (validation_code.value == "") {
                alert("Validation code is required.");
                return;
            }
            document.login_form.submit();
        }
    </script>

</div>
<footer th:replace="common/adminBottom"></footer>
</body>
</html>