<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/adminTop"></header>
<div id="Content">
    <div id="Catalog">
        <form action="/houTai/login" name="login_form" method="post">
            <p>Please enter your username and password.</p>
            <p th:if="${session.signOnMsg != null}"> <font color="red">${session.signOnMsg} </font> </p>
            <p>
                Username:<input type="text" name="adminname"> <br />
                Password:<input type="password" name="adminpassword">
            </p>
            <input type="submit" value="login" />
        </form>
<!--        Need a username and password?
        <a href="/houTai/registerForm">Register Now!</a>-->

    </div>

</div>
<footer th:replace="common/adminBottom"></footer>
</body>
</html>