<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Manage</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/adminTop"></header>
<div id="Content">
    <div id="BackLink">
        <a href="/catalog/index">Return to Main Menu</a>
    </div>

    <div id="Catalog">

        <h2>Order Manage</h2>

        <table>
            <tr>
                <th>Order ID</th>
                <th>Username</th>
                <th>Order Date</th>
                <th>Ship Address</th>
                <th>Ship City</th>
                <th>Ship State</th>
                <th>Ship Zip</th>
                <th>Ship Country</th>
                <th>Bill Address</th>
                <th>Bill City</th>
                <th>Bill State</th>
                <th>Bill Zip</th>
                <th>Bill Country</th>
                <th>Total Price</th>
                <th>Modify</th>
            </tr>
            <tr th:each="order:${orderList}">
                <td th:text="${order.orderId}">1</td>
                <td th:text="${order.username}">Username</td>
                <td th:text="${order.orderDate}">Order Date</td>
                <td th:text="${order.shipAddress1}">Ship Address</td>
                <td th:text="${order.shipCity}">Ship City</td>
                <td th:text="${order.shipState}">Ship State</td>
                <td th:text="${order.shipZip}">Ship Zip</td>
                <td th:text="${order.shipCountry}">Ship Country</td>
                <td th:text="${order.billAddress1}">Bill Address</td>
                <td th:text="${order.billCity}">Bill City</td>
                <td th:text="${order.billState}">Bill State</td>
                <td th:text="${order.billZip}">Bill Zip</td>
                <td th:text="${order.billCountry}">Bill Country</td>
                <td th:text="${order.totalPrice}">Total Price</td>
                <td>
                    <a th:href="@{/houTai/orderEdit(orderId=${order.orderId})}">Edit</a>
                    <a th:href="@{/houTai/orderDelete(orderId=${order.orderId})}">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<footer th:replace="common/adminBottom"></footer>
</body>
</html>