<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Edit</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/orderTop"></header>
<div id="Content">
    <h2>Order Information：</h2>
    <h3 th:if="${status}=='P'">To be confirmed</h3>
    <h3 th:if="${status}=='C'">Confirmed</h3>
    <h3 th:if="${status}=='S'">Shipped, TrackingNumber is <span th:text="${trackingNumber}"></span></h3>
    <table>
        <tr>
            <td>Order ID:</td>
            <td><input type="text" name="orderId" th:value="${order.orderId}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>User ID:</td>
            <td><input type="text" name="userid" th:value="${order.userId}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Order Date:</td>
            <td><input type="text" name="orderDate" th:value="${order.orderDate}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Ship Address1:</td>
            <td><input type="text" name="shipaddr1" th:value="${order.shipAddr1}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Ship Address2:</td>
            <td><input type="text" name="shipaddr2" th:value="${order.shipAddr2}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Ship City:</td>
            <td><input type="text" name="shipcity" th:value="${order.shipCity}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Ship State:</td>
            <td><input type="text" name="shipstate" th:value="${order.shipState}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Ship Zip:</td>
            <td><input type="text" name="shipzip" th:value="${order.shipZip}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Ship Country:</td>
            <td><input type="text" name="shipcountry" th:value="${order.shipCountry}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Bill Address1:</td>
            <td><input type="text" name="billaddr1" th:value="${order.billAddr1}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Bill Address2:</td>
            <td><input type="text" name="billaddr2" th:value="${order.billAddr2}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Bill City:</td>
            <td><input type="text" name="billcity" th:value="${order.billCity}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Bill State:</td>
            <td><input type="text" name="billstate" th:value="${order.billState}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Bill Zip:</td>
            <td><input type="text" name="billzip" th:value="${order.billZip}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Bill Country:</td>
            <td><input type="text" name="billcountry" th:value="${order.billCountry}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Courier</td>
            <td><input type="text" name="courier" th:value="${order.courier}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Order Total:</td>
            <td><input type="text" name="totalprice" th:value="${order.totalPrice}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Bill Firstname:</td>
            <td><input type="text" name="status" th:value="${order.billToFirstname}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Bill Lastname:</td>
            <td><input type="text" name="status" th:value="${order.billToLastname}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Ship Firstname:</td>
            <td><input type="text" name="status" th:value="${order.shipToFirstname}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Ship Lastname:</td>
            <td><input type="text" name="status" th:value="${order.shipToLastname}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Credit Card:</td>
            <td><input type="text" name="status" th:value="${order.creditCard}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Expiry Date:</td>
            <td><input type="text" name="status" th:value="${order.exprDate}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Card Type:</td>
            <td><input type="text" name="status" th:value="${order.cardType}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Locale:</td>
            <td><input type="text" name="status" th:value="${order.locale}" readonly="readonly"/></td>
        </tr>
    </table>
    <a th:if="${status}=='P'" th:href="@{/houTai/orderConfirm(orderId=${order.orderId})}">Confirm</a>
    <a th:if="${status}=='C'" th:href="@{/houTai/orderDeliveryForm(orderId=${order.orderId})}">Delivery</a><br>
    <td><input type="button" value="Go Back" onclick="history.back()"/></td>
</div>
<footer th:replace="common/adminBottom"></footer>
</body>
</html>