<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Manage</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/adminTop"></header>
<div id="Content">
    <div id="BackLink">
        <a href="/catalog/index">Return to Main Menu</a>
    </div>

    <div id="Catalog">

        <h2>Order Manage</h2>

        <table>
            <tr>
                <th>Order ID</th>
                <th>User ID</th>
                <th>Order Date</th>
                <th>Ship Address1</th>
                <th>Ship City</th>
                <th>Ship State</th>
                <th>Ship Zip</th>
                <th>Ship Country</th>
                <th>Total Price</th>
                <th>Modify</th>
            </tr>
            <tr th:each="order:${orders.ordersList}">
                <td th:text="${order.orderId}">1</td>
                <td th:text="${order.userId}">Username</td>
                <td th:text="${order.orderDate}">Order Date</td>
                <td th:text="${order.shipAddr1}">Ship Address</td>
                <td th:text="${order.shipCity}">Ship State</td>
                <td th:text="${order.shipState}">Ship Zip</td>
                <td th:text="${order.shipZip}">Ship Country</td>
                <td th:text="${order.shipCountry}">Bill Address</td>
                <td th:text="${order.totalPrice}">Total Price</td>
                <td>
                    <a th:href="@{/houTai/orderView(orderId=${order.orderId})}">More</a>
                    <a th:href="@{/houTai/orderEditForm(orderId=${order.orderId})}">Edit</a>
                    <a th:href="@{/houTai/orderDeleteForm(orderId=${order.orderId})}">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<footer th:replace="common/adminBottom"></footer>
</body>
</html>