<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Edit</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/adminTop"></header>
<div id="Content">
    <h2>Edit Order</h2>
    <form action="/houTai/orderEdit" method="post">
        <table>
            <tr>
                <td>Order ID:</td>
                <td><input type="text" name="orderId" th:value="${order.orderId}" readonly="readonly"/></td>
                <td>User ID:</td>
                <td><input type="text" name="userid" th:value="${order.userId}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Order Date:</td>
                <td><input type="text" name="orderDate" th:value="${order.orderDate}"/></td>
            </tr>
            <tr>
                <td>Ship Address1:</td>
                <td><input type="text" name="shipaddr1" th:value="${order.shipAddr1}"/></td>
                <td>Ship Address2:</td>
                <td><input type="text" name="shipaddr2" th:value="${order.shipAddr2}"/></td>
            </tr>
            <tr>
                <td>Ship City:</td>
                <td><input type="text" name="shipcity" th:value="${order.shipCity}" /></td>
                <td>Ship State:</td>
                <td><input type="text" name="shipstate" th:value="${order.shipState}" /></td>
            </tr>
            <tr>
                <td>Ship Zip:</td>
                <td><input type="text" name="shipzip" th:value="${order.shipZip}" /></td>
                <td>Ship Country:</td>
                <td><input type="text" name="shipcountry" th:value="${order.shipCountry}" /></td>
            </tr>
            <tr>
                <td>Bill Address1:</td>
                <td><input type="text" name="billaddr1" th:value="${order.billAddr1}" /></td>
                <td>Bill Address2:</td>
                <td><input type="text" name="billaddr2" th:value="${order.billAddr2}" /></td>
            </tr>
            <tr>
                <td>Bill City:</td>
                <td><input type="text" name="billcity" th:value="${order.billCity}" /></td>
                <td>Bill State:</td>
                <td><input type="text" name="billstate" th:value="${order.billState}" /></td>
            </tr>
            <tr>
                <td>Bill Zip:</td>
                <td><input type="text" name="billzip" th:value="${order.billZip}" /></td>
                <td>Bill Country:</td>
                <td><input type="text" name="billcountry" th:value="${order.billCountry}" /></td>
            </tr>
            <tr>
                <td>Courier</td>
                <td><input type="text" name="courier" th:value="${order.courier}" /></td>
            </tr>
            <tr>
                <td>Order Total:</td>
                <td><input type="text" name="totalprice" th:value="${order.totalPrice}" /></td>
            </tr>
            <tr>
                <td>Bill Firstname:</td>
                <td><input type="text" name="status" th:value="${order.billToFirstname}" /></td>
                <td>Bill Lastname:</td>
                <td><input type="text" name="status" th:value="${order.billToLastname}" /></td>
            </tr>
            <tr>
                <td>Ship Firstname:</td>
                <td><input type="text" name="status" th:value="${order.shipToFirstname}" /></td>
                <td>Ship Lastname:</td>
                <td><input type="text" name="status" th:value="${order.shipToLastname}" /></td>
            </tr>
            <tr>
                <td>Credit Card:</td>
                <td><input type="text" name="status" th:value="${order.creditCard}" /></td>
            </tr>
            <tr>
                <td>Expiry Date:</td>
                <td><input type="text" name="status" th:value="${order.exprDate}" /></td>
            </tr>
            <tr>
                <td>Card Type:</td>
                <td><input type="text" name="status" th:value="${order.cardType}" /></td>
            </tr>
            <tr>
                <td>Locale:</td>
                <td><input type="text" name="status" th:value="${order.locale}" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Update Order"/>
                </td>
                <td><input type="button" value="Cancel" onclick="history.back()"/></td>
            </tr>
        </table>
    </form>
    <a href="/houTai/orderManage">Return to Order List</a>
</div>
<footer th:replace="common/adminBottom"></footer>
</body>
</html>