<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Edit</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/adminTop"></header>
<div id="Content">
<h2>Edit Product</h2>
    <form action="/houTai/productEdit" method="post">
        <table>
            <tr>
                <td>Product ID:</td>
                <td><input type="text" name="productId" th:value="${product.productId}"/></td>
            </tr>
            <tr>
                <td>Category ID:</td>
                <td><input type="text" name="categoryId" th:value="${product.categoryId}"/></td>
            </tr>
            <tr>
                <td>Product Name:</td>
                <td><input type="text" name="name" th:value="${product.productName}"/></td>
            </tr>
            <tr>
                <td>Product Description:</td>
                <td><input type="text" name="description" th:value="${product.description}"/></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Update Product"/>
                </td>
            </tr>
        </table>
    </form>
    <a href="productList">Return to Product List</a>
</div>
<footer th:replace="common/adminBottom"></footer>
</body>
</html>