<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/adminTop"></header>
<div id="Content">
    <div id="Catalog">
        <form action="/houTai/register" name="new_account_form" method="post" id="registrationForm">
            <h3>User Information</h3>
            <p th:if="${session.signOnMsg != null}"><font color="red">${session.signOnMsg} </font></p>
            <table>
                <tr>
                    <td>User ID:</td>
                    <td><input type="text" name="adminname" id="usernameInput"></td>
                    <label id="isUserNameExistLabel" style="color: red"></label>
                </tr>
                <tr>
                    <td>New password:</td>
                    <td><input type="password" name="adminpassword" id="passwordInput"></td>
                </tr>
                <tr>
                    <td>Repeat password:</td>
                    <td><input type="password" name="repeatedPassword" id="repeatPasswordInput"></td>
                    <td><label id="passwordMatchLabel" style="color: red"></label></td>
                </tr>
            </table>

            <input type="submit" value="sign up"/>
        </form>
    </div>
</div>

<footer th:replace="common/adminBottom"></footer>


</body>
</html>
