<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <link rel="StyleSheet" href="../css/ourpetstore.css" type="text/css" media="screen"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<header th:replace="common/userTop"></header>
<div id="Content">
    <h2>Create User</h2>
    <form action="/houTai/userCreate" method="post" id="userForm">
        <table>
            <tr>
                <td>User ID:</td>
                <td><input type="text" name="userId" id="userId" /></td>
                <td><span id="userIdError" style="color: red;"></span></td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="firstname" value=""/></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" name="lastname" value=""/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="text" name="password" value=""/></td>
            </tr>
            <tr>
                <td>Status:</td>
                <td><input type="text" name="status" value=""/></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email" value=""/></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><input type="text" name="phone" value=""/></td>
            </tr>
            <tr>
                <td>Address1:</td>
                <td><input type="text" name="address1" value=""/></td>
            </tr>
            <tr>
                <td>Address2:</td>
                <td><input type="text" name="address2" value=""/></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><input type="text" name="city" value=""/></td>
            </tr>
            <tr>
                <td>State:</td>
                <td><input type="text" name="state" value=""/></td>
            </tr>
            <tr>
                <td>Zip:</td>
                <td><input type="text" name="zip" value=""/></td>
            </tr>
            <tr>
                <td>Country:</td>
                <td><input type="text" name="country" value=""/></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Create User" id="createUserBtn"/>
                </td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="common/adminBottom"></footer>

<script>
    document.getElementById('userId').addEventListener('blur', function () {
        let userId = this.value;
        if(userId.length === 0){
            document.getElementById('userIdError').innerText = 'User ID cannot be empty';
            document.getElementById('createUserBtn').disabled = true;
            return;
        }
        console.log('userId:', userId);
        axios.get('/houTai/checkUser?userId=' + userId)
            .then(function (response) {
                if (response.data.exists) {
                    document.getElementById('userIdError').innerText = 'User ID already exists';
                    document.getElementById('createUserBtn').disabled = true;
                } else {
                    document.getElementById('userIdError').innerText = '';
                    document.getElementById('createUserBtn').disabled = false;
                }
            })
            .catch(function (error) {
                console.error('Error checking user ID:', error);
            });
    });
</script>
</body>
</html>
