<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ningf.ourpetstore.persistence.CategoryMapper">

    <resultMap id="BaseResultMap" type="org.ningf.ourpetstore.entity.Category">
            <id property="categoryId" column="catid" jdbcType="VARCHAR"/>
            <result property="categoryName" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="descn" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        catid,name,descn
    </sql>
</mapper>
