<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ningf.ourpetstore.persistence.SupplierMapper">

    <resultMap id="BaseResultMap" type="org.ningf.ourpetstore.entity.Supplier">
            <id property="supplierId" column="suppid" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="addr1" column="addr1" jdbcType="VARCHAR"/>
            <result property="addr2" column="addr2" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="VARCHAR"/>
            <result property="zip" column="zip" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        suppid,name,status,
        addr1,addr2,city,
        state,zip,phone
    </sql>
</mapper>
